<footer class="site-footer">
    <div class="newsletter-signup">
      <div class="container container--narrow">
        <h2 class="newsletter-signup__heading">Stay connected</h2><a class="button button--primary newsletter-signup__button" href="https://www.rotherham.gov.uk/stay-connected">Sign up for our newsletter</a>
      </div>
    </div>
    <div class="container">
      <div class="identity identity--footer">
        <a class="identity__link" href="#" title="Rotherham Council Home Page"><picture><source srcset="https://rothgov.github.io/moderngov/images/site-logo-footer.svg" type="image/svg+xml"> <img alt="Footer Logo: Rotherham Council" class="identity__logo" src="https://rothgov.github.io/moderngov/images/site-logo-footer.png"></picture> <span class="visually-hidden">Rotherham Council</span></a>
      </div>
    </div>
    <div class="container">
      <nav aria-label="Footer Navigation" class="footer-navigation site-footer__group">
        <ul class="list">
          <li class="list__item">
            <a class="list__link" href="https://www.rotherham.gov.uk/terms">Terms and disclaimer</a>
          </li>
          <li class="list__item">
            <a class="list__link" href="https://www.rotherham.gov.uk/accessibility-statement">Accessibility statement</a>
          </li>
          <li class="list__item">
            <a class="list__link" href="https://www.rotherham.gov.uk/website-statistics">Website statistics</a>
          </li>
          <li class="list__item">
            <a class="list__link" href="https://www.rotherham.gov.uk/site-map">Site map</a>
          </li>
          <li class="list__item">
            <a class="list__link" href="https://www.rotherham.gov.uk/contact">Contact us</a>
          </li>
          <li class="list__item">
            <a class="list__link" href="https://www.rotherham.gov.uk/location">Location</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="footer-social">
        <ul class="list">
          <li class="list__item">
            <a class="footer-social__logo" href="https://www.facebook.com/RotherhamCouncil"><img alt="Facebook logo" src="https://rothgov.github.io/moderngov/images/logo-facebook.svg"></a>
          </li>
          <li class="list__item">
            <a class="footer-social__logo" href="https://twitter.com/RMBCPress"><img alt="Twitter logo" src="https://rothgov.github.io/moderngov/images/logo-twitter.svg"></a>
          </li>
          <li class="list__item">
            <a class="footer-social__logo" href="https://www.youtube.com/user/RotherhamMBC"><img alt="YouTube logo" src="https://rothgov.github.io/moderngov/images/logo-youtube.svg"></a>
          </li>
          <li class="list__item">
            <a class="footer-social__logo" href="https://www.instagram.com/rotherhamcouncil/"><img alt="Instagram logo" src="https://rothgov.github.io/moderngov/images/logo-instagram.svg"></a>
          </li>
          <li class="list__item">
            <a class="footer-social__logo" href="https://www.linkedin.com/company/rotherhamcouncil"><img alt="LinkedIn logo" src="https://rothgov.github.io/moderngov/images/logo-linkedin.svg"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="site-footer__text site-footer__rights">All content &copy; 2020 Rotherham Metropolitan Borough Council. All Rights Reserved.</p>
        <p class="site-footer__text">Handcrafted by <a href="https://www.spacecraft.co.uk/"><strong>Spacecraft</strong></a>.</p>
        <p class="site-footer__text">Powered by <a href="https://github.com/rothgov"><strong>GitHub</strong></a>.</p>
      </div>
    </div>
  </footer>
