<footer class="site-footer">
  <div class="newsletter-signup">
    <div class="container container--narrow">
      <h2 class="newsletter-signup__heading">Sign up for our newsletter</h2>
      <form class="form">
        <div class="form__control">
          <label class="form__label visually-hidden" for="newsletter-signup"
            >Enter your email…</label
          >
          <div class="form__append-group">
            <input
              class="form__field"
              id="newsletter-signup"
              maxlength="40"
              name="q"
              placeholder="Enter your email…"
              size="18"
              type="text"
            />
            <button
              class="button button--primary button--no-chevron"
              type="submit"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="identity identity--footer">
      <a
        class="identity__link"
        href="https://design.hq.jadu.net/rotherham-2019/prototype/index.html"
        title="Rotherham Council Home Page"
      >
        <picture>
          <source
            srcset="./dist/images/site-logo-footer.svg"
            type="image/svg+xml"/>
          <img
            alt="Footer Logo: Rotherham Council"
            class="identity__logo"
            src="./Prototypes%20%E2%80%93%20Rotherham%20Council_files/site-logo-footer.png"
        /></picture>

        <span class="visually-hidden">Rotherham Council</span>
      </a>
    </div>
  </div>
  <div class="container">
    <nav
      aria-label="Footer Navigation"
      class="footer-navigation site-footer__group"
    >
      <ul class="list">
        <li class="list__item">
          <a
            class="list__link"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/atoz_list"
            >Terms and disclaimer</a
          >
        </li>
        <li class="list__item">
          <a
            class="list__link"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/event_list"
            >Accessibility statement</a
          >
        </li>
        <li class="list__item">
          <a
            class="list__link"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/news_list"
            >Website statistics</a
          >
        </li>
        <li class="list__item">
          <a
            class="list__link"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/accessibility_settings"
            >Site map</a
          >
        </li>
        <li class="list__item">
          <a
            class="list__link"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/councillor_list"
            >Contact us</a
          >
        </li>
        <li class="list__item">
          <a
            class="list__link"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/meeting_list"
            >Location</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="footer-social">
      <ul class="list">
        <li class="list__item">
          <a
            class="footer-social__logo"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/full-prototype.html#"
            ><img alt="Facebook logo" src="dist/images/logo-facebook.svg"
          /></a>
        </li>
        <li class="list__item">
          <a
            class="footer-social__logo"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/full-prototype.html#"
            ><img alt="Twitter logo" src="dist/images/logo-twitter.svg"
          /></a>
        </li>
        <li class="list__item">
          <a
            class="footer-social__logo"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/full-prototype.html#"
            ><img alt="YouTube logo" src="dist/images/logo-youtube.svg"
          /></a>
        </li>
        <li class="list__item">
          <a
            class="footer-social__logo"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/full-prototype.html#"
            ><img alt="Instagram logo" src="dist/images/logo-instagram.svg"
          /></a>
        </li>
        <li class="list__item">
          <a
            class="footer-social__logo"
            href="https://design.hq.jadu.net/rotherham-2019/prototype/full-prototype.html#"
            ><img alt="LinkedIn logo" src="dist/images/logo-linkedin.svg"
          /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="site-footer__text site-footer__rights">
        © 2019 Rotherham Council
      </p>
      <p class="site-footer__text">
        Handcrafted by
        <a href="https://www.spacecraft.co.uk/"><strong>Spacecraft</strong></a
        >.
      </p>
      <p class="site-footer__text">
        Powered by <a href="http://www.jadu.net/"><strong>Jadu</strong></a
        >.
      </p>
    </div>
  </div>
</footer>
