<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>{pagetitle} - Rotherham Council</title>
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Muli:400,600,700&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="https://rothgov.github.io/moderngov/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://rothgov.github.io/moderngov/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://rothgov.github.io/moderngov/images/favicon-16x16.png">
  <link rel="manifest" href="https://rothgov.github.io/moderngov/images/site.webmanifest">
  <link rel="mask-icon" href="https://rothgov.github.io/moderngov/images/safari-pinned-tab.svg" color="#002554">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link href="https://rothgov.github.io/moderngov/css/orbit.css" rel="stylesheet">
  <meta content="2 days" name="revisit-after">
  <meta content="index,follow" name="robots">
  <meta content="" name="author">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta content="" property="dcterms:creator">
  <meta content="" property="dcterms:rightsHolder">
  <meta content="" property="dcterms:coverage">
  <meta content="" property="dcterms:identifier">
  <meta content="" property="dcterms:publisher">
  <meta content="" property="dcterms:subject">
  <meta content="" property="dcterms:description">
  <meta content="Prototypes" property="dcterms:title">
  <meta content="text/html" property="dcterms:format">
  <meta content="en" property="dcterms:language">
  <meta content="Rotherham Council - Meetings, agendas and minutes" property="og:title">
  <meta content="Rotherham Council - Meetings, agendas and minutes" property="og:site_name">
  <meta content="website" property="og:type">
  <meta content="" property="og:url">
  <meta content="https://rothgov.github.io/moderngov/images/site-logo.svg" property="og:image">
  <meta content="Rotherham Council - Meetings, agendas and minutes" property="og:image:alt">
</head>
