<!DOCTYPE html>
<html>
{% include _head.html %}
<body class="ma0 pa0 muli f4 blue lh-copy">
{% include _header.html %}
<div class="center">
{{ content }}
</div>
{% include _footer.html %}
  <link href="https://rothgov.github.io/moderngov/css/icons.data.svg.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script> 
  <script>
    window.jQuery || document.write('<script src="https://rothgov.github.io/moderngov/js/jquery.min.js"><\/script>');
  </script> 
  <script src="https://rothgov.github.io/moderngov/js/orbit.js">
  </script>
</body>
</html>
